.azul{
    background-color:  rgba(14,100,157,255);
    color: white;
}
.verde{
    background-color: green;
    color: black;
}
.marron{
    background-color: chocolate;
    color: rgb(254, 254, 254);
}