*{
    margin: 0;
    padding: 0%;
}
.container {
    display: grid;
    grid-template-areas:
        "nav nav"
        "sidebar header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
  }
nav {
    background-color: rgb(208, 162, 232);
    grid-area: nav;
  }
  
header {
    background-color: blueviolet;
    grid-area: header;
  }
  
article {
    background-color: rgb(131, 248, 107);
    grid-area: content;
  }
  
aside {
    background-color: aqua;
    grid-area: sidebar;
  }
  
  footer {
    background-color: black;
    grid-area: footer;
  }